.search {
    width: rem(400px);
    @media (max-width: em(730px)) {
        width: rem(300px);
    }
    @media (max-width: em(630px)) {
        width: rem(200px);
    }
}

.popover {

}

.popoverButton {

}