.listingsContainer{
    max-width: 95%;
}

.paginationGroup{
    display: flex;
    justify-content: center;
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    width: 90%;
}

.filterGroup{
    display: flex;
    justify-content: space-between;
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    margin-left: rem(20px);
    align-items: center;
    width: 90%;
}