.saleImageContainer {
    width: 100%;
    height: rem(360px);
    @media (max-width: em(585px)) {
        height: rem(180px);
    }
    @media (max-width: em(290px)) {
        height: rem(90px);
    }
    overflow: hidden;
    position: relative;
    border-radius: var(--mantine-radius-md);
}

.sideContainer{
    width: 100%;
}

.bidsTableContainer{
    width: 100%;
    padding: 0;
 
}